<p id="notice"><%= notice %></p>

<p>
  <strong>Purchaser:</strong>
  <%= @salle.purchaser %>
</p>

<p>
  <strong>Description:</strong>
  <%= @salle.description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @salle.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @salle.quantity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @salle.address %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @salle.provider %>
</p>

<%= link_to 'Edit', edit_salle_path(@salle) %> |
<%= link_to 'Back', salles_path %>
